<%- include("./partials/head") %>
<%- include("./partials/header") %>

    <main>
            <br>
            <br>
            <h1>Track films you’ve watched.
                Save those you want to see.
                Tell your friends what’s good.</h1>

 
    

    </main>

    
                
</body>
<%- include("./partials/footer") %>