<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="./css/login1.css" />
  </head>
  <body>
    <main>
      <section id="login">
        <h1>SIGN IN</h1>
        <form action="/login" method="GET">
          <div class="input">
            <label for="email">Username or E-mail</label>
            <input
              id="email"
              type="email"
              name="email"
              placeholder="E-mail"
              required
            />
          </div>

          <div class="input">
            <label for="password">Password</label>
            <input
              id="password"
              type="password"
              name="password"
              placeholder="Password"
              required
            />
          </div>
          <input type="submit" value="SIGN IN" style="background-color:#3cb32a; color: white;" />
          <a href="./ .html">Forgotten? </a>
        </form>
      </section>
    </main>
  </body>
</html>