<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Usuario</title>
    <link rel="stylesheet" href="./css/usuario.css" />
</head>
<body>
    <div class="principal">
        <img src="./imagens/Harris_Princ.png" title="Harris">


            
    </div>
    

    <main>
        


        <div class="watch">
            <img src="./imagens/Harris.jpeg" title="Harris">


        </div>


        <div class="details">
            <h1>Mrs. Harris Goes to Paris</h1>
            <h2>FOLLOW YOUR DREAM.</h2>
            <h3>A 1950s London cleaning lady falls in love with an haute couture dress by Christian Dior and decides to gamble everything for the sake of this folly.</h3>

        </div>

        <div class="ratings">
            <input type="submit" value="Sign in to log, rate or review" style="background-color:rgb(67, 68, 67); color: white; width: 200; height: 20" />


        </div>
        



    </main>
    
</body>
</html>