<header>
  <link rel="stylesheet" href="/css/styles.css">
  <div class = "container">
    <article class="logo">
      <div>
        <img src="./images/logo.jpg" alt="logo"/>

      </div>

    </article>
    
     
      
     
    
  
       
    
      <% if(locals.user && user.admin) {%>
        
        
        <a href="/film">PAINEL ADMINISTRADOR</a>
        
       
      <% }%>
      <% if(locals.user){%>
        
         
        
        <a href="/filmsavalia">AVALIA FILMES</a>

        
        <form action="/logout" method="post">
            
          <button type="submit" class="btn-logout">
             
            LOGOUT
            
          </button>
        </form>
      <% }else {%>
         
         
         
        
        <a href="/login">LOGIN</a>


        
        
        
        
        
        
      <% }%>
  
  </div>
</header>

